body {
  background-color: gray;
}

body .navBar {
  width: 96%;
  height: 100px;
  background-color: white;
  margin-left: 2%;
}

.navBar .logoItem {
  width: 50px;
  height: 50px;
  background-color: yellow;
  float: left;
  margin-top: 2%;
  margin-left: 10%;
}

.logoText {
  font-weight: bold;
  font-size: 160%;
  margin-left: 13%;
  padding-top: 10%;
}

.logoTextT {
  font-size: 40%;
  margin-left: 13%;
  color: gray;
  margin-top: -10%;
  float: left;
}

.navBarList .nav {
  margin-left: 35%;
}

.nav li {
  margin-left: 6%;
  margin-top: -5%;
}

.nav {
  border-bottom: none;
}

.nav li a {
  color: rgb(16, 39, 71);
}

.nav .btn {
  font-size: 100%;
  font-weight: bold;
  color: rgb(16, 39, 71);
  border-color: rgb(16, 39, 71);
  border-radius: 25px;
  border-width: 2px;
  background-color: white;
  margin-top: -7%;
  width: 150%;
}
